<header>
    <section class="welcome-container">
        <h2>Welcome {{ username }}</h2>
        <img id="nav-menu" src="/static/img/hamburger_menu.svg" onclick="toggleNav()" alt="Navigation Menu Button">
    </section>
    <nav id="nav-bar">
        <ul>
            <li><a href="/">Record Fill Up</a></li>
            <li><a href="/history">Previous Fill Ups</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<script type="text/javascript" src="/static/javascript/header.js"></script>