0<h2>Settings</h2>

<form action="/logout/all">
    <input type="submit" onclick="return confirm('Are you sure you want to logout everywhere?\nYou will have to log back in on every device.');" value="Logout Everywhere">
</form>

<form action="/settings" method="post">
    <h3>Units</h3>
    <section class="settings-form">

        <label for="units" class="settings-form-item">Liquid Units</label>
        <select name="units" class="settings-form-item">
            <option {% if units == 'Litre' %} selected {% endif %}>Litre</option>
            <option {% if units == 'Gallon' %} selected {% endif %}>Gallon</option>
        </select>

        <label for="currency" class="settings-form-item">Currency</label>
        <select name="currency" class="settings-form-item">
            <option {% if currency == '£' %} selected {% endif %}>£</option>
            <option {% if currency == '$' %} selected {% endif %}>$</option>
            <option {% if currency == '€' %} selected {% endif %}>€</option>
        </select>

        <label for="distance" class="settings-form-item">Distance Units</label>
        <select name="distance" class="settings-form-item">
            <option {% if distance == 'Miles' %} selected {% endif %}>Miles</option>
            <option {% if distance == 'Kilometers' %} selected {% endif %}>Kilometers</option>
        </select>

        <label for="odometer" class="settings-form-item">Odometer Units</label>
        <select name="odometer" class="settings-form-item">
            <option {% if odometer == 'Miles' %} selected {% endif %}>Miles</option>
            <option {% if odometer == 'Kilometers' %} selected {% endif %}>Kilometers</option>
        </select>
    </section>
    <input type="submit" value="Save">
</form>

{% if submit %}
    <p>Settings saved!</p>
{% endif %}

<section id="settings-vehicles-container">
    <h3>Vehicles</h3>
    <ul>
        {% for vehicle in vehicle_list %}
            <li>
                <form onsubmit="
                    return confirm('Are you sure you want to delete this vehicle? It will permanently delete all refuelling data.');
                " action="/settings/remove_vehicle" method="post">
                    <input name="nickname" type="text" readonly value="{{ vehicle }}">
                    <button><img src="/static/img/x.svg" alt="Click to Delete" /></button>
                </form>
            </li>
        {% endfor %}
        <li>
            <form action="/settings/add_vehicle" method="post">
                <input name="new-vehicle" type="text" placeholder="New Vehicle Nickname">
                <button type="submit"><img src="/static/img/plus.svg" alt="Click to Add" /></button>
            </form>
        </li>
    </ul>

    {% if vehicle_exists %}<p>You already have a vehicle with this nickname</p>{% endif %}
    {% if vehicle_added %}<p>Vehicle has been saved!</p>{% endif %}
    {% if vehicle_removed %}<p>Vehicle has been removed!</p>{% endif %}

</section>
