<form action="" method="get">
    <label for="section">Section</label>
    <select name="section">
        <option value="mpg" {% if section == 'mpg' %} selected {% endif %}>MPG</option>
    </select>
    <input type="submit" value="Go">
</form>