
<section>
    <h2>Last Refuel</h2>
</section>

<section id="history-section-selector">
    <label for="section">Section</label>
    <select name="section">
        <option onclick="selector(this);" value="clear" selected="true">Please Select</option>
        <option onclick="selector(this);" value="efficiency">Fuel Efficiency</option>
        <option onclick="selector(this);" value="price">Fuel Price</option>
    </select>
</section>

<section id="history-content">

</section>

<script type="text/javascript" src="/static/javascript/history_selector.js"></script>
