
<section>
    <h2>Last Refuel</h2>
</section>

<section id="history-section-selector">
    <label for="section">Section</label>
    <select name="section" onchange="selector(this)">
        <option value="clear" selected="true">Please Select</option>
        <option value="efficiency">Fuel Efficiency</option>
        <option value="price">Fuel Price</option>
        <option value="all">Show All Previous Fill Ups</option>
    </select>
</section>

<section id="history-content">

</section>

<script type="text/javascript" src="/static/javascript/history.js"></script>
